*{
    margin: 0;
    padding: 0;
}
.navber-section{
    text-align: center;
    padding: 50px;
    background-image: url("Assets/Hero-bg.png");
    width: 1440px;
    height: 698px;
    border-radius: 25px;
}
.head{
    color:#4E47FF;
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
}
.bton{
color: #ffff;
background-color: #4E47FF;
font-size: 30px;
font-weight: bold;
border-radius: 5px;
border: none;
}
.bton:hover{
    background-color: brown;
}
.Banner-section{
    margin-top:400px;
}
.text-info{
    font-weight: bold;
    font-size: 65px;
}
.action-section{
    width: 1100px;
    height: 328px;
    background-color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-left: 100px;
}
.text-content h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.text-content p{
    color:#666;
    font-size:20px ;
    margin-bottom: 20px;
}
.image-content{
    border-radius:40px;
    height:300px ;
     max-width:428px;
    overflow: hidden;
}

